body{
    display: flex;
    justify-content: center;
}

.container{
    width: 60%;
}

.section-2 h1, .section-3 h1{
    padding-top: 15px;
}

h1{
    font-size: 18px;
}
p{
   line-height: 20px;
    text-align: justify;
}
.section-1 p{
    color: green;
    font-size: 14px;

}

.section-1, .section-2, .section-3{
    border-bottom: 2px solid rgb(113, 114, 114);
    padding-bottom: 15px;
}

.section-2 p{
    color: red;
    font-size: 14px;
}

.section-3 p, li{
    color: blue;
    font-size: 14px;
}